In [1]:
## Import Packages and Files

import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import linear_model
import statistics

%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

df = pd.read_excel("table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls")

In [2]:
## View Raw File
#pd.read_excel("table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls")
#df.dtypes

In [3]:
### Clean Data

## Create DataFrame Columns

df.columns = ['city', 'population','violent_crime', 
                    'murder', 'rape_revised','rape_legacy', 
                    'robbery', 'aggravated_assault', 'property_crime', 
                    'burglary', 'larceny_theft', 'vehicle_theft', 'arson']

## Drop extraneous rows and columns

df = df.drop(df.index[:4])
df = df.drop(df.index[-3:])
df = df.drop('rape_revised', axis=1 )

## Change Data Types of Columns

df.loc[:,'city'] = df.loc[:,'city'].apply(str)
df = df.apply(pd.to_numeric, errors='ignore')

In [4]:
## View Cleaned Data
df.head(10)
#df.dtypes

,city,population,violent_crime,murder,rape_legacy,robbery,aggravated_assault,property_crime,burglary,larceny_theft,vehicle_theft,arson
4,Adams Village,1861,0,0,0,0,0,12,2,10,0,0.000
5,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0.000
6,Akron Village,2846,3,0,0,0,3,16,1,15,0,0.000
7,Albany,97956,791,8,30,227,526,4090,705,3243,142,nan
8,Albion Village,6388,23,0,3,4,16,223,53,165,5,nan
9,Alfred Village,4089,5,0,0,3,2,46,10,36,0,nan
10,Allegany Village,1781,3,0,0,0,3,10,0,10,0,0.000
11,Amherst Town,118296,107,1,7,31,68,2118,204,1882,32,3.000
12,Amityville Village,9519,9,0,2,4,3,210,16,188,6,1.000
13,Amsterdam,18182,30,0,0,12,18,405,99,291,15,0.000

# Multivariable Regression Analysis of FBI Data #

In [5]:
### Preparing Features To Be Used

## Adding Population^2 Feature

df['population_squared'] = df['population'].apply(lambda x: x**2)

## Creating Binary Murder and Robbery Features 

df['if_murder'] = np.where(df['murder'] == 0, 0,1)
df['if_robbery'] = np.where(df['robbery'] == 0, 0,1)

#df.head(10)